<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {% if title %}{{ title }} — {% endif %}AS Design System</title>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/components.css"/>
    <script defer src="/assets/js/main.js"></script>
    <script defer src="/assets/js/components.js"></script>
    {# Pagefind UI #}
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script defer src="/pagefind/pagefind-ui.js"></script>
  </head>
  <body>
    <div layout>
      <nav data-pagefind-ignore>
        <div class="search">
          <as-search-menu method="GET" action="/search/" placeholder="Search site for..." keys="Meta+U" ></as-search-menu>
        </div>

        {% include "partials/sidebar.njk" %}
        <div class="layoutbox clock" id="layoutbox4">
          <as-dot-matrix-clock size="10px"></as-dot-matrix-clock>
        </div>
      </nav>

      <section content data-pagefind-body>
        {{ content | safe }}
      </section>
    </div>

    <div class="menu-btn" data-pagefind-ignore>
      <as-class-toggle target-element="[layout] nav|.menu-overlay" target-class="navopen|overlayopen" button-class="btn btn-transparent" icon-name="bars"></as-class-toggle>
    </div>
    <div class="menu-overlay"></div>
  </body>
</html>