---
layout: layouts/base.njk
title: Home
permalink: /
---

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Design system</title>
    </head>

    <body>
        <article class="home-page">
            <h1>AS Design System</h1>
            <p>A living documentation of components, design tokens, and patterns.</p>
            <br/>
            <div class="overview">
                <ul>
                    <li>
                        <a href="/design-tokens/">
                            <span>Design Tokens</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/">
                            <span>Components</span>
                        </a>
                    </li>
                </ul>
            </div>
        </article>

    </body>

</html>